<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Activity">
	<resultMap type="cn.bjtc.model.Activity" id="ActyMap">
		<result column="id" property="id"/>
		<result column="actName" property="actname"/>
		<result column="beginTime" property="begindt"/>
		<result column="endTime" property="enddt"/>
		<result column="actDesc" property="actdesc"/>
		<result column="creator" property="creator"/>
	</resultMap>
	<parameterMap type="cn.bjtc.model.Activity" id="ActyParamMap">
		<parameter property="id" resultMap="ActyMap" />
		<parameter property="actname" resultMap="ActyMap" />
		<parameter property="begindt" resultMap="ActyMap" />
		<parameter property="enddt" resultMap="ActyMap" />
		<parameter property="actdesc" resultMap="ActyMap" />
		<parameter property="creator" resultMap="ActyMap" />
	</parameterMap>
 
   <insert id="saveActy" parameterMap="ActyParamMap">
		INSERT INTO  pr_activites (actName,beginTime,endTime,actDesc,creator) VALUES (#{actname},#{begindt},#{enddt},#{actdesc},#{creator})
   </insert>
	
	<update id="updateActy" parameterMap="ActyParamMap">
		UPDATE pr_activites SET actName=#{actname},beginTime=#{begindt},endTime=#{enddt},actdesc=#{actdesc},creator=#{creator} WHERE id =#{id}
	</update>

	<select id="findAllActys" resultMap="ActyMap" >
	 	SELECT * FROM  pr_activites WHERE   1=1
	 	<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="actname!=null and actname!=''"> AND actName=#{actname}</if>
	 	<if test="begindt!=null and begindt!=0"> AND beginTime=#{begindt}</if>
	 	<if test="enddt!=null and enddt!=0"> AND endTime=#{enddt}</if>
	 	<if test="actdesc!=null and actdesc!=''"> AND actdesc=#{actdesc}</if>
	 	<if test="creator!=null"> AND creator=#{creator}</if>
	 	LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="countAllActys" resultType="Integer" >
	 	SELECT count(id) FROM pr_activites   WHERE   1=1
	 	<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="actname!=null and actname!=''"> AND actName=#{actname}</if>
	 	<if test="begindt!=null and begindt!=0"> AND beginTime=#{begindt}</if>
	 	<if test="enddt!=null and enddt!=0"> AND endTime=#{enddt}</if>
	 	<if test="actdesc!=null and actdesc!=''"> AND actdesc=#{actdesc}</if>
	 	<if test="creator!=null"> AND creator=#{creator}</if>
	</select>
	 
</mapper>