<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Idxparam">
	<resultMap type="cn.bjtc.model.Idxparam" id="IdxparamMap">
		<result column="id" property="id"/>
		<result column="parmCode" property="parmcode"/>
		<result column="parmName" property="parmname"/>
		<result column="parmType" property="parmtype"/>
		<result column="defaultValue" property="defaultvalue"/>
		<result column="creator" property="creator"/>
	</resultMap>
	<parameterMap type="cn.bjtc.model.Idxparam" id="IdxparamParamMap">
		<parameter property="id" resultMap="IdxparamMap" />
		<parameter property="parmcode" resultMap="IdxparamMap" />
		<parameter property="parmname" resultMap="IdxparamMap" />
		<parameter property="parmtype" resultMap="IdxparamMap" />
		<parameter property="defaultvalue" resultMap="IdxparamMap" />
		<parameter property="creator" resultMap="IdxparamMap" />
	</parameterMap>
	<insert id="saveIdxparam" parameterMap="IdxparamParamMap">
		INSERT INTO pe_parameters(id,parmCode,parmName,parmType,defaultValue,creator) VALUES (#{id},#{parmcode},#{parmname},#{parmtype},#{defaultvalue},#{creator})
	</insert>
	
	<update id="updateIdxparam" parameterMap="IdxparamParamMap">
		UPDATE  pe_parameters set parmCode=#{parmcode},parmName=#{parmname},parmType=#{parmtype},defaultValue=#{defaultvalue},creator=#{creator} WHERE id=#{id}
	</update>
	
	<select id="findAllIdxparam" resultMap="IdxparamMap" >
	 	SELECT * FROM pe_parameters WHERE 1=1 
	 	<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="parmcode!=null and parmcode!=''"> AND parmCode=#{parmcode}</if>
	 	<if test="parmname!=null and parmname!=''"> AND parmName=#{parmname}</if>
	 	<if test="parmtype!=null and parmtype!=0"> AND parmType=#{parmtype}</if>
	 	<if test="defaultvalue!=null and defaultvalue!=0"> AND defaultValue=#{defaultvalue}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	 	LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="countAllIdxparam" resultType="Integer" >
		SELECT count(id) FROM pe_parameters WHERE 1=1
		<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="parmcode!=null and parmcode!=''"> AND parmCode=#{parmcode}</if>
	 	<if test="parmname!=null and parmname!=''"> AND parmName=#{parmname}</if>
	 	<if test="parmtype!=null and parmtype!=0"> AND parmType=#{parmtype}</if>
	 	<if test="defaultvalue!=null and defaultvalue!=0"> AND defaultValue=#{defaultvalue}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	</select>
</mapper>