<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Indexes">
	<resultMap type="cn.bjtc.model.Indexes" id="IndexesMap">
		<result column="id" property="id"/>
		<result column="idxCode" property="idxcode"/>
		<result column="idxName" property="idxname"/>
		<result column="idxOrder" property="idxorder"/>
		<result column="idxType" property="idxtype"/>
		<result column="idxScope" property="idxscope"/>
		<result column="idxFormula" property="idxformula"/>
		<result column="isDisp" property="isdisplay"/>
		<result column="valid" property="validdt"/>
		<result column="invalid" property="invaliddt"/>
		<result column="creator" property="creator"/>
	</resultMap>
	<parameterMap type="cn.bjtc.model.Indexes" id="IndexesParamMap">
		<parameter property="id" resultMap="IndexesMap" />
		<parameter property="idxcode" resultMap="IndexesMap" />
		<parameter property="idxname" resultMap="IndexesMap" />
		<parameter property="idxorder" resultMap="IndexesMap" />
		<parameter property="idxtype" resultMap="IndexesMap" />
		<parameter property="idxscope" resultMap="IndexesMap" />
		<parameter property="idxformula" resultMap="IndexesMap" />
		<parameter property="isdisplay" resultMap="IndexesMap" />
		<parameter property="validdt" resultMap="IndexesMap" />
		<parameter property="invaliddt" resultMap="IndexesMap" />
		<parameter property="creator" resultMap="IndexesMap" />
	</parameterMap>
	<insert id="saveIndexes" parameterMap="IndexesParamMap">
		INSERT INTO pe_indexes(id,idxCode,idxName,idxOrder,idxType,idxScope,idxFormula,isDisp,valid,invalid,creator) VALUES (#{id},#{idxcode},#{idxname},#{idxorder},#{idxtype},#{idxscope},#{idxformula},#{isdisplay},#{validdt},#{invaliddt},#{creator})
	</insert>
	
	<update id="updateIndexes" parameterMap="IndexesParamMap">
		UPDATE  pe_indexes set idxCode=#{idxcode},idxName=#{idxname},idxOrder=#{idxorder},idxType=#{idxtype},idxScope=#{idxscope},idxFormula=#{idxformula},isDisp=#{isdisplay},valid=#{validdt},invalid=#{invaliddt},creator=#{creator} WHERE id=#{id}
	</update>
	
	<select id="findAllIndexes" resultMap="IndexesMap" >
	 	SELECT * FROM pe_indexes WHERE 1=1 
	 	<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="idxcode!=null and idxcode!=''"> AND idxCode=#{idxcode}</if>
	 	<if test="idxname!=null and idxname!=''"> AND idxName=#{idxname}</if>
	 	<if test="idxorder!=null and idxorder!=0"> AND idxOrder=#{idxorder}</if>
	 	<if test="idxtype!=null and idxtype!=0"> AND idxType=#{idxtype}</if>
	 	<if test="idxscope!=null and idxscope!=0"> AND idxScope=#{idxscope}</if>
	 	<if test="idxformula!=null and idxformula!=''"> AND idxFormula=#{idxformula}</if>
	 	<if test="isdisplay!=null and isdisplay!=0"> AND isDisp=#{isdisplay}</if>
	 	<if test="validdt!=null and validdt!=0"> AND valid=#{validdt}</if>
	 	<if test="invaliddt!=null and invaliddt!=0"> AND invalid=#{invaliddt}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	 	LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="countAllIndexes" resultType="Integer" >
		SELECT count(id) FROM pe_indexes WHERE 1=1
		<if test="id!=null and id!=0"> AND id=#{id}</if>
	 	<if test="idxcode!=null and idxcode!=''"> AND idxCode=#{idxcode}</if>
	 	<if test="idxname!=null and idxname!=''"> AND idxName=#{idxname}</if>
	 	<if test="idxorder!=null and idxorder!=0"> AND idxOrder=#{idxorder}</if>
	 	<if test="idxtype!=null and idxtype!=0"> AND idxType=#{idxtype}</if>
	 	<if test="idxscope!=null and idxscope!=0"> AND idxScope=#{idxscope}</if>
	 	<if test="idxformula!=null and idxformula!=''"> AND idxFormula=#{idxformula}</if>
	 	<if test="isdisplay!=null and isdisplay!=0"> AND isDisp=#{isdisplay}</if>
	 	<if test="validdt!=null and validdt!=0"> AND valid=#{validdt}</if>
	 	<if test="invaliddt!=null and invaliddt!=0"> AND invalid=#{invaliddt}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	</select>
</mapper>