<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="MenuPriv">
	<resultMap type="cn.bjtc.model.MenuPriv" id="MenuPrivMap">
		<result column="menuprivid" property="menuprivid"/>
		<result column="menuid" property="menuid"/>
		<result column="privid" property="privid"/>
	</resultMap>
	<parameterMap type="cn.bjtc.model.MenuPriv" id="MenuPrivParamMap">
		<parameter property="menuprivid" resultMap="MenuPrivMap" />
		<parameter property="menuid" resultMap="MenuPrivMap" />
		<parameter property="privid" resultMap="MenuPrivMap" />
	</parameterMap>
	<select id="findAllMenuPrivs" resultMap="MenuPrivMap">
		SELECT * FROM menupriv;
	</select>
	
	<select id="findMenuPrivByRole" resultMap="MenuPrivMap">
		SELECT ep.menuid,ep.privid FROM menupriv ep LEFT JOIN rolepriv rp ON rp.privid=ep.privid
		WHERE rp.roleid=#{0}
	</select>
	
	<select id="findMenuPrivByStaff" resultMap="MenuPrivMap">
		SELECT ep.menuid,ep.privid FROM menupriv ep LEFT JOIN staffpriv sp ON sp.privid=ep.privid
		WHERE sp.staffid=#{0}
	</select>
	
	<select id="findStaffRoleMenuPriv" resultMap="MenuPrivMap">
		SELECT ep.menuid,ep.privid FROM menupriv ep LEFT JOIN rolepriv rp ON ep.privid=rp.privid
		LEFT JOIN staffrole sr ON sr.roleid=rp.roleid WHERE sr.staffid=#{0}
	</select>
</mapper>