<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Staff">
	<resultMap type="cn.bjtc.model.Staff" id="StaffMap">
		<result column="staffid" property="staffid"/>
		<result column="staffname" property="staffname"/>
		<result column="gender" property="gender"/>
		<result column="mobile" property="mobile"/>
		<result column="idcard" property="idcard"/>
		<result column="telephone" property="telephone"/>
		<result column="email" property="email"/>
		<result column="edu" property="edu"/>
		<result column="jobstation" property="jobstation"/>
		<result column="passwd" property="passwd"/>
		<result column="address" property="address"/>
		<result column="departid" property="departid"/>
		<result column="emername" property="emername"/>
		<result column="emerphone" property="emerphone"/>
		<result column="staffst" property="staffst"/>
		<result column="leavetime" property="leavetime"/>
		<result column="jointime" property="jointime"/>
		<result column="creator" property="creator"/>
	</resultMap>
	<parameterMap type="cn.bjtc.model.Staff" id="StaffParamMap">
		<parameter property="staffid" resultMap="StaffMap" />
		<parameter property="staffname" resultMap="StaffMap" />
		<parameter property="gender" resultMap="StaffMap" />
		<parameter property="mobile" resultMap="StaffMap" />
		<parameter property="idcard" resultMap="StaffMap" />
		<parameter property="telephone" resultMap="StaffMap" />
		<parameter property="email" resultMap="StaffMap" />
		<parameter property="edu" resultMap="StaffMap" />
		<parameter property="jobstation" resultMap="StaffMap" />
		<parameter property="passwd" resultMap="StaffMap" />
		<parameter property="address" resultMap="StaffMap" />
		<parameter property="departid" resultMap="StaffMap" />
		<parameter property="emername" resultMap="StaffMap" />
		<parameter property="emerphone" resultMap="StaffMap" />
		<parameter property="staffst" resultMap="StaffMap" />
		<parameter property="leavetime" resultMap="StaffMap" />
		<parameter property="jointime" resultMap="StaffMap" />
		<parameter property="creator" resultMap="StaffMap" />
	</parameterMap>
	<insert id="saveStaff" parameterMap="StaffParamMap">
		INSERT INTO staff(staffid,staffname,gender,mobile,idcard,telephone,email,edu,jobstation,passwd,address,departid,emername,emerphone,staffst,leavetime,jointime,creator) VALUES (#{staffid},#{staffname},#{gender},#{mobile},#{idcard},#{telephone},#{email},#{edu},#{jobstation},#{passwd},#{address},#{departid},#{emername},#{emerphone},#{staffst},#{leavetime},#{jointime},#{creator})
	</insert>
	
	<update id="updateStaff" parameterMap="StaffParamMap">
		UPDATE staff 
		<set>
		<if test="staffid!=null and staffid!=0"> staffid=#{staffid},</if>
	 	<if test="staffname!=null and staffname!=''"> staffname=#{staffname},</if>
	 	<if test="gender!=null and gender!=0"> gender=#{gender},</if>
	 	<if test="mobile!=null and mobile!=0"> mobile=#{mobile},</if>
	 	<if test="idcard!=null and idcard!=''"> idcard=#{idcard},</if>
	 	telephone=#{telephone},
	 	email=#{email},
	 	<if test="edu!=null and edu!=0"> edu=#{edu},</if>
	 	<if test="jobstation!=null and jobstation!=0"> jobstation=#{jobstation},</if>
	 	<if test="passwd!=null and passwd!=''"> passwd=#{passwd},</if>
	 	address=#{address},
	 	<if test="departid!=null and departid!=0"> departid=#{departid},</if>
	 	emername=#{emername},
	 	emerphone=#{emerphone},
	 	<if test="staffst!=null and staffst!=0"> staffst=#{staffst},</if>
	 	leavetime=#{leavetime},
	 	<if test="jointime!=null and jointime!=0"> jointime=#{jointime},</if>
	 	<if test="creator!=null and creator!=0"> creator=#{creator}</if>
		</set>  
		WHERE staffid=#{staffid}
	</update>
	
	<select id="findAllStaff" resultMap="StaffMap" >
	 	SELECT * FROM staff WHERE 1=1 
	 	<if test="staffid!=null and staffid!=0"> AND staffid=#{staffid}</if>
	 	<if test="staffname!=null and staffname!=''"> AND staffname=#{staffname}</if>
	 	<if test="gender!=null and gender!=0"> AND gender=#{gender}</if>
	 	<if test="mobile!=null and mobile!=0"> AND mobile=#{mobile}</if>
	 	<if test="idcard!=null and idcard!=''"> AND idcard=#{idcard}</if>
	 	<if test="telephone!=null and telephone!=0"> AND telephone=#{telephone}</if>
	 	<if test="email!=null and email!=''"> AND email=#{email}</if>
	 	<if test="edu!=null and edu!=0"> AND edu=#{edu}</if>
	 	<if test="jobstation!=null and jobstation!=0"> AND jobstation=#{jobstation}</if>
	 	<if test="passwd!=null and passwd!=''"> AND passwd=#{passwd}</if>
	 	<if test="address!=null and address!=''"> AND address=#{address}</if>
	 	<if test="departid!=null and departid!=0"> AND departid=#{departid}</if>
	 	<if test="emername!=null and emername!=''"> AND emername=#{emername}</if>
	 	<if test="emerphone!=null and emerphone!=0"> AND emerphone=#{emerphone}</if>
	 	<if test="staffst!=null and staffst!=0"> AND staffst=#{staffst}</if>
	 	<if test="leavetime!=null and leavetime!=0"> AND leavetime=#{leavetime}</if>
	 	<if test="jointime!=null and jointime!=0"> AND jointime=#{jointime}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	 	LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="countAllStaff" resultType="Integer" >
		SELECT count(staffid) FROM staff WHERE 1=1
		<if test="staffid!=null and staffid!=0"> AND staffid=#{staffid}</if>
	 	<if test="staffname!=null and staffname!=''"> AND staffname=#{staffname}</if>
	 	<if test="gender!=null and gender!=0"> AND gender=#{gender}</if>
	 	<if test="mobile!=null and mobile!=0"> AND mobile=#{mobile}</if>
	 	<if test="idcard!=null and idcard!=''"> AND idcard=#{idcard}</if>
	 	<if test="telephone!=null and telephone!=0"> AND telephone=#{telephone}</if>
	 	<if test="email!=null and email!=''"> AND email=#{email}</if>
	 	<if test="edu!=null and edu!=0"> AND edu=#{edu}</if>
	 	<if test="jobstation!=null and jobstation!=0"> AND jobstation=#{jobstation}</if>
	 	<if test="passwd!=null and passwd!=''"> AND passwd=#{passwd}</if>
	 	<if test="address!=null and address!=''"> AND address=#{address}</if>
	 	<if test="departid!=null and departid!=0"> AND departid=#{departid}</if>
	 	<if test="emername!=null and emername!=''"> AND emername=#{emername}</if>
	 	<if test="emerphone!=null and emerphone!=0"> AND emerphone=#{emerphone}</if>
	 	<if test="staffst!=null and staffst!=0"> AND staffst=#{staffst}</if>
	 	<if test="leavetime!=null and leavetime!=0"> AND leavetime=#{leavetime}</if>
	 	<if test="jointime!=null and jointime!=0"> AND jointime=#{jointime}</if>
	 	<if test="creator!=null and creator!=0"> AND creator=#{creator}</if>
	</select>
	<select id="findAllDepartName" resultMap="StaffMap" >
		SELECT d.departname,s.* FROM depart d join staff s on d.departid = s.departid
	</select>
</mapper>